 <div class="container">
    <div class="col-md-6">
        <h1>Welcome!!</h1>
    </div>
    <div class="col-md-6">
        <h1>Login</h1>
    </div>
    <!-- <input type="text" [(ngModel)]="user">
    <h3>{{user}}</h3> -->
    <!-- <form [fromGroup] = "fromGrouping"> -->
        <div class="col-md-6">
            <label class="control-form">Student name</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="students.Studentname">
        </div>
        <!-- <div class="col-md-3">
            <h1>{{students.Studentname}}</h1>
        </div> -->
        <div class="col-md-6">
            <label class="control-form">Student Age</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="students.Studentage">
        </div>
        <div class="col-md-6">
            <label class="control-form">Student rollnumber</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="students.StudentRollnumber">
        </div>
        <div class="col-md-6">
            <label class="control-form">Student dateofjoining</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="students.JoiningDate">
        </div>
        <div class="col-md-6">
            <label class="control-form">Student email</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="students.Email">
        </div>
        <div class="col-md-6">
            <label class="control-form">Student phone</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="students.Phone">
        </div>
        <div class="col-md-6">
            <label class="control-form">Student address</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" [(ngModel)]="students.Address">
        </div>
     <!-- </form> -->
     <button class="btn btn-success btn-xl" type="submit" value="Save" (click)="onClick()">Add</button>
</div> -->

<!-- <h1>Welcome!</h1> -->